:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #FFFDF0; 
  --border: #e5e4e7;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg-primary); 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 42px;
  letter-spacing: -1.68px;
  margin: 24px 0;
}

h2 {
  font-size: 24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}
